<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ambrogio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LedPanelOn copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LedPanelOn copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LedPanelOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LivingRoomLampOn copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71D411281DF464AF006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4113C1DF464AF006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4114E1DF47293006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4115D1DF4775C006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4116C1DF477B0006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4117B1DF47820006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4118A1DF47879006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
