<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ambrogio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoffeeMachineOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CoffeeMachineOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LedPanelOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LedPanelOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LedStripLeftOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LedStripLeftOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LedStripRightOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LedStripRightOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LivingRoomLampOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LivingRoomLampOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71D411281DF464AF006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4113C1DF464AF006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4114E1DF47293006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4115D1DF4775C006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4116C1DF477B0006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4117B1DF47820006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D4118A1DF47879006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411991DF47A0A006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411A81DF47AB8006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411B71DF47B0E006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411C61DF47B60006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411D51DF47BD7006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D411E41DF47C36006B0694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
